.gitattributes !filter !diff


__*.yaml* filter=git-crypt diff=git-crypt linguistics=git-crypt 
secret/* filter=git-crypt diff=git-crypt


# Encrypt all files starting with __ and containing .yaml
**/__*yaml* filter=git-crypt diff=git-crypt 

__*yaml* filter=git-crypt diff=git-crypt 



# *.key filter=git-crypt diff=git-crypt
# *.secret filter=git-crypt diff=git-crypt
# config/secrets/* filter=git-crypt diff=git-crypt